*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
}


#stage{
    background-image: url("img/stage.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#duck{
    position: absolute;
    left:  750px;
    top: 300px;
    right: 0px;
    bottom: 0px;
}